<section id="userView" ng-controller="homeController">
	<div class="user-section">
		<figure>
			<img src='./styles/images/guy.jpg' class='user-img'>
		</figure>
		<p>{{userName}}</p>
	</div>
	<div class="search-box">
		<!-- <div ng-controller='searchAutoCompleteController'>
			<live-search id="search1" type="text"
				  live-search-callback="mySearchCallback"
				  live-search-item-template="{{result.city}}<strong>{{result.state}}</strong><b>{{result.country}}</b>"
				  live-search-select="fullName"
				  ng-model="search1" ></live-search>
		</div> -->
		<form class="searchbox">
			<input type="text" name="productName" ng-model="productName" placeholder="Search...." class="search-txt">
			<input type="submit" value="" class="btn-search" ng-click="displayDetails()">
		</form>

	</div>
	<div class="search-result">
		<ul ng-repeat="data in serachData">
			<li>{{data.userName}}</li>
		</ul>
		<button type="submit" class="btn-submit clear" ng-click="clearData()" ng-show="!!serachData">Clear</button>
	</div>
	<div class="action">
		<!-- <form method="POST" enctype="multipart/form-data"> -->
			<a href="#/email" class='button-email'>Email</a>
			<input type="file" id="bill" file-model="fileToUpload" onchange="angular.element(this).scope().upload(this)" accept="image/*;capture=camera" style="display: none;"/>
			<a class="button-scan" onclick="document.getElementById('bill').click()" href="#">Scan</a>
			<!-- <button class="btn-cm" >Scan</button> -->
		<!-- </form> -->
	</div>
	<div class="graph">
		<progress value="22" max="100">
		</progress>
		<progress value="50" max="100">
		</progress>
		<progress value="75" max="100">
		</progress>
	</div>
<section>