*{
	box-sizing: border-box;
}
body{
	font-family: 'Lato';
	height: 100%;
	width: 100%;
	margin: 0px;
	background-color: #e5e5e5;
}
header{

}
#container{

}
h2{
	font-family: 'Lato';
	font-weight: 400;
	color: #34495E;
	text-align: center;
}
form.loginForm{
	background-color: #fff;
	max-width: 500px;
	margin: 10px auto;
	padding: 20px;
	font-size: 20px;
	padding-bottom: 50px;
}
.l-user{
	padding: 10px;
	width: 80%;
	display: block;
	margin: 0px auto;
	font-size: 15px;
}
.btn-submit{
	padding: 10px 25px;
	display: block;
	margin: 0px auto;
	border-radius: 6px;
	background-color: #34495e;
	color: #fff;
	font-size: 15px;
	border: 0px;
	cursor: pointer;
}
.btn-submit:hover{
	background:#1bbc9b;
}
#userView{
	background-color: #fff;
	max-width: 500px;
	margin: 10px auto;
}
.user-section{
	background: #1bbc9b;
	height: 200px;
	margin: 0px;
}
figure{
	padding-top: 40px;
}
.user-img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 5px solid #fff;
	margin: 0px auto;
	display: block;
}
.searchbox{
	background: #ecf0f1;
	padding: 10px 20px;
}
.search-txt{
	border: none;
	padding: 10px;
	border-radius:6px;
	width: 87%;
	display: inline-block;
	margin: 0px auto;
	font-size: 15px;
}

.btn-search{
	background: url(images/search.png)no-repeat 16px 1px #ecf0f1;
	border: none;
	display: inline-block;
	padding: 0.52em;
	width: 10%;
	outline: none;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
}
.action, .graph{
	padding: 10px 20px;
}
.btn-email, .btn-cm{
	width: 30%;
	height: 50px;
	padding: 10px 25px;
	display: inline-block;
	margin: 0px auto;
	border-radius: 6px;
	background-color: #34495e;
	color: #fff;
	font-size: 20px;
	border: 0px;
	cursor: pointer;
}
.btn-cm{
	margin-left: 30%;
	width: 30%;
}
progress{
	display: block;
	width: 90%;
	height: 20px;
	margin: 10px 0px;
	-webkit-appearance: none;
}
progress[value]::-webkit-progress-value{
	background-color: #1bbc9b;
}
progress[value]::-webkit-progress-bar {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  color: #1bbc9b;
}
button.btn-submit.clear{
	width: 100%;
	border-radius: 0px;
	background: gray;
	margin-bottom: 20px;
}
#bill {
    display:none;
}
.email-text{
	padding: 10%;
}
.btn-back {
    display: inline-block;
    position: absolute;
    z-index: 1;
    padding: 0 10px 0 30px;

    line-height: 44px;
    text-shadow: 0 -1px #2980b9;
    color: #E5E5E5;
    text-decoration: none;
    font-size: 12px;
}
.btn-back:before {
    content: '';
    position: absolute;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    left: 20px;
    right: 0;
    height: 34px;
    margin-top: 5px;
    z-index: -1;

    border: 1px solid #808080;
    border-bottom-color: #808080;
    border-top-color: #2980b9;
    border-left-width: 0;
    border-radius: 5px;

    background: #808080;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(top, #3498db, #2980b9);

}

.btn-back:after {
    content: '';

    position: absolute;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    left: 11px;
    height: 27px;
    width: 26px;
    top: 8px;
    z-index: -2;
	// #3498db #2980b9
    border: 1px solid #FFF;
    border-top: 0 transparent;
    border-right: 0 transparent;
    border-bottom-color: #3498db;
    border-left-color: #2980b9;
    border-radius: 7px 5px 5px 7px;

    background: #808080;
    background-image: -webkit-linear-gradient(135deg, #3498db, #2980b9);
    background-image: -moz-linear-gradient(135deg, #3498db, #2980b9);
    background-image: -ms-linear-gradient(135deg, #3498db, #2980b9);
    background-image: -o-linear-gradient(135deg, #3498db, #2980b9);
    background-image: linear-gradient(135deg, #3498db, #2980b9);

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}


.btn-back:hover:before {
    background-image: -webkit-linear-gradient(top, #3498db -25%, #2980b9 75%);
    background-image: -moz-linear-gradient(top, #3498db -25%, #2980b9 75%);
    background-image: -ms-linear-gradient(top, #3498db -25%, #2980b9 75%);
    background-image: -o-linear-gradient(top, #3498db -25%, #2980b9 75%);
    background-image: linear-gradient(top, #3498db -25%, #2980b9 75%);
}
.btn-back:hover:after {
    background-image: -webkit-linear-gradient(135deg,#3498db -25%, #2980b9 75%);
    background-image: -moz-linear-gradient(135deg,#3498db -25%, #2980b9 75%);
    background-image: -ms-linear-gradient(135deg,#3498db -25%, #2980b9 75%);
    background-image: -o-linear-gradient(135deg,#3498db -25%, #2980b9 75%);
    background-image: linear-gradient(135deg,#3498db -25%, #2980b9 75%);
}


.btn-back:active:before,
.btn-back:active:after {
    background: #2980b9;
    box-shadow: inset 0px 1px 0px #2980b9;
}
.btn-back:active:after {
    box-shadow: inset 1px 1px 0px #2980b9;
}
.button-scan {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #3e7ac4;
    border-radius: 8px;
    background: #65c7ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#65c7ff), to(#3e7ac4));
    background: -moz-linear-gradient(top, #65c7ff, #3e7ac4);
    background: linear-gradient(to bottom, #65c7ff, #3e7ac4);
    text-shadow: #274d7b 1px 1px 1px;
    font: normal normal bold 19px arial;
    color: #ffffff;
    text-decoration: none;
    margin-left: 40%;
	width: 30%;
}
.button-scan:hover,
.button-scan:focus {
    border: 1px solid ##4e99f5;
    background: #79efff;
    background: -webkit-gradient(linear, left top, left bottom, from(#79efff), to(#4a92eb));
    background: -moz-linear-gradient(top, #79efff, #4a92eb);
    background: linear-gradient(to bottom, #79efff, #4a92eb);
    color: #ffffff;
    text-decoration: none;
}
.button-scan:active {
    background: #3e7ac4;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e7ac4), to(#3e7ac4));
    background: -moz-linear-gradient(top, #3e7ac4, #3e7ac4);
    background: linear-gradient(to bottom, #3e7ac4, #3e7ac4);
}
.button-scan:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("images/scan.png") no-repeat left center transparent;
    background-size: 100% 100%;
}
.button-email {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #3e7ac4;
    border-radius: 8px;
    background: #65c7ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#65c7ff), to(#3e7ac4));
    background: -moz-linear-gradient(top, #65c7ff, #3e7ac4);
    background: linear-gradient(to bottom, #65c7ff, #3e7ac4);
    text-shadow: #274d7b 1px 1px 1px;
    font: normal normal bold 19px arial;
    color: #ffffff;
    text-decoration: none;
}
.button-email:hover,
.button-email:focus {
    border: 1px solid ##4e99f5;
    background: #79efff;
    background: -webkit-gradient(linear, left top, left bottom, from(#79efff), to(#4a92eb));
    background: -moz-linear-gradient(top, #79efff, #4a92eb);
    background: linear-gradient(to bottom, #79efff, #4a92eb);
    color: #ffffff;
    text-decoration: none;
}
.button-email:active {
    background: #3e7ac4;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e7ac4), to(#3e7ac4));
    background: -moz-linear-gradient(top, #3e7ac4, #3e7ac4);
    background: linear-gradient(to bottom, #3e7ac4, #3e7ac4);
}
.button-email:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("images/email.png") no-repeat left center transparent;
    background-size: 100% 100%;
}
.w3-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important}
.w3-margin{margin:45px 16px 10px 16px !important}
.w3-container{padding:0.01em 16px}
.w3-center{text-align:center !important}